* {
  margin: 0px;
}
body {
  background-color: rgba(248, 241, 241, 0.37);
}

#nav {
  height: 83px;
  background-color: rgb(93, 161, 224);
  font-size: 20px;
  padding: 5px;
}
#nav ul {
  list-style: none;
  margin: 20px 50px;
}
#nav ul li {
  display: inline;
  margin-left: 150px;
}
#nav ul li a {
  color: black;
  text-decoration: none;
}
#nav ul li a:hover {
  color: grey;
}
#left {
  position: absolute;
  left: 70px;
  top: 37px;
  display: inline-block;
}

#left img {
  width: 80px;
  border-radius: 5px 5px;
}

#main {
  text-align: center;
  background-color: rgb(224, 235, 245);
}
.my-info {
  padding: 2rem 5rem;
}

.btn-info {
  padding: 1rem 1.2rem;
  background-color: rgb(93, 161, 224) !important;
  color: black !important;
  margin-left: 5px;
  padding: 0.75rem;
  transition: all 0.3s;
}

.btn-info:hover {
  background-color: grey !important;
}

.table-danger,
.table-danger > td,
.table-danger > th {
  background-color: rgb(93, 161, 224);
}

#footer {
  height: 200px;
  padding: 20px;
  color: white;
  background-color: grey;
  font-size: 20px;
  margin-top: 100px;
}
